@import "tailwindcss";

:root {
  --background: #F7EDFE;
  --foreground: #0F0235;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.radix-themes {
  --color-background: var(--background);

  --gray-1: var(--background);
  --gray-12: var(--foreground);
  --gray-11: var(--foreground);
  --gray-10: var(--foreground);

  --default-font-family: 'DM Sans Variable', 'sans-serif';
  --heading-font-family: 'DM Sans Variable', 'sans-serif';
  --code-font-family: 'DM Sans Variable', 'sans-serif';
  --strong-font-family: 'DM Sans Variable', 'sans-serif';
  --em-font-family: 'DM Sans Variable', 'sans-serif';
  --quote-font-family: 'DM Sans Variable', 'sans-serif';
}
